.counterDiv {
    position: static;
    width: 570px;
    height: 67px;
    left: 0px;
    top: 46px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0px 0px;
}

.ThirdDiv > .FirstContainer{
    width: 97%;
    max-width: 800px;
    height: 60px;
    display: table-row;
    margin-right: auto;
    margin-left: auto;
}

.rowTitle {
    width: 70%;
    max-width: 400px;
    align-self: center;
}

.rowFirst {
    display: flex;
    height: 50px;
}

.rowTitleText{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    text-align: initial;
    letter-spacing: 0.02em;
    color: #212121;
}

.rowCounters {
    width: 30%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: #212121;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 150px;
}

.selectItem{
    position: static;
    width: 10px;
    left: 2.43%;
    right: 2.43%;
    top: 10.45%;
    bottom: 10.45%;
    color: #212121;
    background: #FF9500;
    opacity: 0.2;
    border-radius: 6px;
}

